MONGODB_URI=""
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

PAYSTACK_BASE_URL=
PAYSTACK_SECRET=
PAYSTACK_PUBLIC=

MAIL_DRIVER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_SENDER=
